[
 [:html
  [:head 
   [:meta {:charset "utf-8"}]
   [:p {:class "hack"} "."]
   [:link {:href "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" :rel "stylesheet"}]
   [:link {:href "css/style.css" :media "screen" :rel "stylesheet"}]
   ]
  [:body {:class "container"}
   [:header [:div {:id "me"}]]
   [:div {:id "skills"}] 
   [:div {:id "technologies"}]
   [:div {:id "experience"}]]
  ]
 ]


